.rightBar {
  background-color: #ffffff;
  border-left: #dfe3ed 2px solid;
}
.settings-container {
  display: subgrid;
  .setting {
    position: relative;
    display: block;
    border-bottom: #dfe3ed 2px solid;
    padding: 1em;
  }
}

.drag-enter {
  border-bottom: red 2px solid !important;
}

.prevent-pointer * {
  pointer-events: none;
}

.layer-options div {
  display: inline-block;
}

.properties {
  display: grid !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  input,
  label {
    display: block;
  }
  input {
    width: 100%;
  }
  label {
    padding-bottom: 10px;
  }
}
