.page-wrapper {
  height: 100%;
}
.canvas-wrapper {
  z-index: 900;
  background-color: #e7edef;
  display: inline-block;
  background: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    );
}
canvas {
  background-color: #ffffff;
}
.resizing-active {
  background: transparent;
}
// Moveable overides
.moveable-control-box {
  .moveable-control,
  .moveable-line {
    background-color: #5270eb !important;
  }
}

.moveable-control-box.not-active {
  .moveable-line {
    background-color: transparent !important;
  }
}

// end of moveable overides
