@import '../../scss/utilities/variables';

.color-section {
  display: grid !important;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .active-color {
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    cursor: pointer;

    .active-color-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .color-satchets {
    position: relative;
    max-height: 80px;
    min-height: 80px;
    overflow-y: auto;
    border: #dfe3ed 2px solid;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-auto-rows: auto;
    .color {
      display: inline-block;
      width: 29px;
      height: 29px;
      margin: 0.2em;
      cursor: pointer;
    }
  }
}
.color-tools {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  button {
    margin-right: 5px;
    cursor: pointer;
  }
}

.no-active-color {
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 43%,
      red 45%,
      red 55%,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 80%
    ),
    linear-gradient(135deg, #ffffff 0%, #ffffff 43%, red 45%, red 55%, #ffffff 57%, #ffffff 80%);
}
.color-link {
  position: relative;
  cursor: pointer;
  color: $main-color;
  top: 5px;
  &:hover {
    text-decoration: underline;
  }
}
