@import '../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './scss/utilities/variables';
@import './scss/inputRange/inputRange';

.hide {
  display: none !important;
}
* {
  z-index: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}
h3 {
  font-weight: 500;
}
input {
  line-height: 1.5em;
}
//$test: color: rgb(196, 196, 196);
input[type='text']:focus {
  border: 2px solid $main-color;
}
input[type='text'],
input[type='number'] {
  outline: none;
  border-radius: 5px;
  padding: 0.2em;
  border: 2px solid #cfd5de;
}

.range-container {
  input[type='number'] {
    max-width: 60px;
    margin: 0.2em;
  }
  input[type='range'] {
    max-width: 200px;
  }
}
